<div style="width:100%;">
    <h1>New Article</h1>

    <%= render 'form' %>

    <%= link_to 'Back', articles_path, :class => "badge", :style => "font-size:20px;padding:20px;background-color:#5cb85c;margin-bottom:10px;" %>
</div>
